body{
background-color: #1b1c38;
}
header{
 margin-top: 50px;
 font-family: Cuprum, Arial, Helvetica, sans-serif;
}
.dws-menu *{
 margin: 0;
 padding: 0;
}
.dws-menu ul,
.dws-menu ol{
 list-style: none;
}
.dws-menu > ul{
 display: flex;
 justify-content: center;
}
.dws-menu > ul li{
 position: relative;
 border-right: 1px solid #c7c8ca;
}
.dws-menu > ul li:first-child{
 border-left: 1px solid #b2b3b5;
}
.dws-menu > ul li:last-child{
 border-right: 1px solid #babbbd;
}
.dws-menu > ul li > a i.fa{
 position: absolute;
 top: 15px;
 left: 12px;
 font-size: 18px;
}
.dws-menu > ul li a{
 display: block;
 background: rgb(201,201,201); /* Old browsers */
 background: -moz-linear-gradient(top,  rgba(201,201,201,1) 0%, rgba(246,246,246,1) 2%, rgba(196,197,199,1) 98%, rgba(117,117,119,1) 100%); /* FF3.6-15 */
 background: -webkit-linear-gradient(top,  rgba(201,201,201,1) 0%,rgba(246,246,246,1) 2%,rgba(196,197,199,1) 98%,rgba(117,117,119,1) 100%); /* Chrome10-25,Safari5.1-6 */
 background: #e8886f;
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9c9c9', endColorstr='#757577',GradientType=0);

 padding: 15px 30px 15px 40px;
 font-size: 14px;
 color: #1b1c38;
 text-decoration: none;
 text-transform:uppercase;
 transition: all 0.3s ease;
}
.dws-menu li a:hover{
 /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e0e1e5+0,454547+2,454547+98,e0e1e5+100 */
 background: rgb(224,225,229); /* Old browsers */
 background: -moz-linear-gradient(top,  rgba(224,225,229,1) 0%, rgba(69,69,71,1) 2%, rgba(69,69,71,1) 98%, rgba(224,225,229,1) 100%); /* FF3.6-15 */
 background: -webkit-linear-gradient(top,  rgba(224,225,229,1) 0%,rgba(69,69,71,1) 2%,rgba(69,69,71,1) 98%,rgba(224,225,229,1) 100%); /* Chrome10-25,Safari5.1-6 */
 background: #1b1c38;
 filter: progid:DXImageTransform.Microsoft.gradient ( startColorstr='#e0e1e5', endColorstr='#e0e1e5',GradientType=0 ); /* IE6-9 */

 color: #e8886f;
 box-shadow: 1px 5px 10px -5px black;
 transition: all 0.3s ease;
}

/*sub menu*/
.dws-menu li ul{
 position: absolute;
 min-width: 150px;
 display: none;
}
.dws-menu li > ul li{
 border: 1px solid #c7c8ca;
}
.dws-menu li > ul li a{
 padding: 10px;
 text-transform: none;
 background: #e8886f;
}
.dws-menu li > ul li ul{
 position: absolute;
 right: -150px;
 top: 0;
}
.dws-menu li:hover > ul{
 display: block;
}
div {
  width: 100px;
  height: 100px;
  transform: translate(-50%, -50%);
  position: absolute; 
  top: 50%; 
  left: 50%;
}
span {
  display: block;
  position: absolute;
  width: 40%;
  height: 40%;
  border-radius: 50%;
  box-shadow: 2px 2px 3px rgba(0,0,0,.4);
  -webkit-animation: run 2s infinite ease-in-out;
  animation: run 2s infinite ease-in-out;
}

.one {
  background: #F3B222;
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s;
}
.two {
  background: #F0653E;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}
.three {
  background: #B9C0C0;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}
.four {
  background: #8F7473;
}

@-webkit-keyframes run {
  0% {
    transform: translate(0%);
    border-radius: 50%;
  }
  25% {
    transform: translate(150%) scale(0.5); 
    border-radius: 0%;
  }
  50% {
    transform: translate(150%, 150%);
    border-radius: 50%; 
  }
  75% {
    transform: translate(0%, 150%) scale(0.5); 
    border-radius: 0%;
  }
}
@keyframes run {
  0% {
    transform: translate(0%);
    border-radius: 50%;
  }
  25% {
    transform: translate(150%) scale(0.5); 
    border-radius: 0%;
  }
  50% {
    transform: translate(150%, 150%);
    border-radius: 50%; 
  }
  75% {
    transform: translate(0%, 150%) scale(0.5); 
    border-radius: 0%;
  }
}
.h-cut{
  position:absolute; 
  left: 270px; 
  top:1000px;
}
.p1{
  margin-top: 0px;
  margin-right: 200px;
}
.p2{
  margin-top: 140px;
}
.p3{
  margin-top: 280px;
}
.p4{
  margin-top: 420px;
}
.p5{
  margin-top: 560px;
}
.h-cut:hover div:nth-of-type(2),
.h-cut:hover div:nth-of-type(4) {
    left: 0px;
}
.h-cut:hover div:nth-of-type(1),
.h-cut:hover div:nth-of-type(3),
.h-cut:hover div:nth-of-type(5){
    left: 80px;
}
#about{
  position: absolute;
  margin-top: 2000px;
   text-align: center

}
H1 {
  font-size: 50px;
  font-weight: normal;
  cursor: pointer;
  text-shadow: 1px 1px 0 orange,
               1px -1px 0 orange,
               -1px 1px 0 orange,
              -1px -1px 0 orange;
  color: white;
  transition: all 1s;
  }
  H1:hover {
    text-shadow: 1px 1px 0 yellowgreen,
                 1px -1px 0 yellowgreen,
                 -1px 1px 0 yellowgreen,
                -1px -1px 0 yellowgreen;
    color: white;
    }