body, html {
 	min-width: 300px;
	background-attachment: fixed;		
	background-repeat: repeat;
	scroll-behavior: smooth;
	background: linear-gradient(90deg, #cfecd0, #a0cea7, #9ec0db);}

	::-webkit-scrollbar { width: 8px; height: 6px;}
	::-webkit-scrollbar-track {  background-color: #999;}
	::-webkit-scrollbar-track-piece { background-color: lightgray;}
	::-webkit-scrollbar-thumb { height: 150px; background-color: #336699; border-radius: 8px;}
	::-webkit-scrollbar-corner { background-color: #999;}}
	::-webkit-resizer { background-color: #666;}
	::-webkit-scrollbar-thumb:hover{border-width: 1px 1px 1px 2px;border-color: #555;background-color: #777;}

	.box {
		display: flex;
        align-items: center;
        justify-content: center;
		background-color: transparent;}

	.box a {
		font-family: 'Alegreya Sans SC','Arial', sans-serif;
		font-size: 20px;
		font-weight: 700;
		text-decoration: none;
		margin-right: 15px;
		transition : .4s linear
		cursor: pointer;}

	.box a:hover {
		background-color: silver;
		border-radius: 10px;
		transition : .4s linear;}

	@media (max-width: 635px) {
		.box {
			display: block;
			text-align: center;}
		}
